# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.log
*.pot
*.mo
*.db
*.sqlite3
*.env
.env
.env.*
.venv
venv/
ENV/
Backend/.env

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.tox/
.nox/
